* {
  margin: 0;
  padding: 0; }

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  padding-top: 40px;
  background: #fff; }

.ContenedorGeneral {
  width: 97%;
  max-width: auto;
  margin: auto; }

header .MenuNav {
  background: #603085;
  padding: 0em 2.5em;
  font-size: 1.3em; }
  header .MenuNav .dropdown-item {
    color: #000; }

.main .BloqueCentrado {
  background: #fff;
  margin: 0em -1.2em; }
  .main .BloqueCentrado .Uno {
    background: #fff; }
    .main .BloqueCentrado .Uno p {
      font-size: 2.1em;
      text-align: center;
      font-weight: 400;
      color: #000;
      margin: 23px 0px -14px 0px; }
    .main .BloqueCentrado .Uno .UnoHijo {
      display: flex;
      justify-content: center; }
  .main .BloqueCentrado .Dos {
    background: #fff;
    display: flex;
    justify-content: center; }
    .main .BloqueCentrado .Dos .CardPrecio {
      margin-top: 70px;
      margin-bottom: 40px;
      width: 300px;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
      .main .BloqueCentrado .Dos .CardPrecio .Costo {
        text-align: center;
        font-size: 30px;
        margin: 0; }
      .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
        padding: 10px 20px; }
        .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
          text-align: center;
          font-size: 27px; }
        .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
          text-align: center;
          font-size: 22px;
          color: #ff0000;
          font-weight: 500; }
        .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 {
          display: flex;
          justify-content: center; }
          .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
            border-color: #ff0000;
            color: #ff0000; }
            .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso:hover {
              background: #ff0000;
              color: #fff; }
      .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio {
        display: flex;
        justify-content: center; }
        .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
          cursor: default;
          background: #ff0000;
          color: #fff;
          text-decoration: none;
          font-size: 1.8em;
          padding: 3px 21px;
          margin-top: 10px; }
.main .container {
  max-height: 550 px; }
  .main .container .Temario p {
    font-size: 30px;
    font-weight: 400;
    text-align: center; }
.main .Tema {
  border-color: #603085;
  color: #000;
  background: #fff;
  padding: 12px; }
  .main .Tema p {
    font-weight: 400;
    margin: 0; }
  .main .Tema:hover {
    background: #603085;
    border-color: #603085;
    color: #fff; }
.main .Col1 {
  display: flex;
  padding: 0;
  align-content: center;
  background: #fff; }
  .main .Col1 .centadoVideo {
    padding-left: 450px; }
    .main .Col1 .centadoVideo .video {
      width: 900 px; }
  .main .Col1 p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #99CC33; }

footer {
  background: #f2f2f2;
  margin: 0em -1.2em;
  padding: 0em 1.2em; }
  footer .Negro {
    background: #000;
    color: #fff;
    margin: 0em -1.2em;
    text-align: center;
    padding: 10px 0; }
    footer .Negro p {
      margin: auto; }
  footer .Contacto {
    padding: 20px 0; }
    footer .Contacto .TituloContacto {
      text-align: center;
      margin-bottom: 8px;
      color: #603085; }
    footer .Contacto .Correo {
      text-align: center;
      font-size: 26px;
      margin-bottom: 8px; }
    footer .Contacto .CentradoNumero {
      display: flex;
      justify-content: center;
      text-align: center; }
      footer .Contacto .CentradoNumero .IconoWhats {
        padding: 0px;
        display: inline-block;
        margin: 0 20px;
        width: 50px;
        font-size: 22px;
        color: #fff;
        background: #000;
        border-radius: 100px;
        background: #25d366; }
      footer .Contacto .CentradoNumero p {
        margin: 5px -9px; }
  footer .Iconos {
    text-align: center;
    padding: 20px 0; }
    footer .Iconos .TituloContacto2 {
      text-align: center;
      margin-bottom: 8px;
      color: #603085; }
    footer .Iconos a {
      padding: 10px;
      display: inline-block;
      margin: 0 20px;
      width: 50px;
      font-size: 22px;
      color: #fff;
      background: #000;
      border-radius: 100px; }
      footer .Iconos a.youtube {
        background: #ff0000; }
      footer .Iconos a.facebook {
        background: #3b5998; }
      footer .Iconos a.instagram {
        background: #833ab4; }

@media screen and (max-width: 2860px) {
  body {
    padding-top: 88px; }
    body .ContenedorGeneral {
      width: 98%; }
      body .ContenedorGeneral header .MenuNav {
        font-size: 44px; }
        body .ContenedorGeneral header .MenuNav .navbar-brand {
          font-size: 50px; }
        body .ContenedorGeneral header .MenuNav .Elementos a {
          font-size: 30px; }
      body .ContenedorGeneral .main .row {
        margin-bottom: 18px; }
      body .ContenedorGeneral .main .BloqueCentrado .Uno p {
        font-size: 54px;
        margin: 1px 0px 3px 0px; }
      body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
        height: 500px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
        width: 394px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
          font-size: 35px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
          padding: 10px 25px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
            font-size: 35px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
            font-size: 32px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
            font-size: 24px;
            margin-bottom: 7px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
            font-size: 24px;
            text-align: justify; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .PaypalPagar {
            width: 250px; }
      body .ContenedorGeneral .main .container {
        max-width: 1630px; }
        body .ContenedorGeneral .main .container .Temario p {
          font-size: 50px; }
      body .ContenedorGeneral .main .Tema {
        font-size: 30px; }
      body .ContenedorGeneral .main .Col1 p {
        font-size: 40px; }
      body .ContenedorGeneral .main .Col1 .video {
        width: 820px; }
      body .ContenedorGeneral .main .Top {
        margin-top: 40px; }
      body .ContenedorGeneral .main .Top2 {
        margin-top: 40px; }
      body .ContenedorGeneral footer .Contacto .TituloContacto {
        font-size: 46px; }
      body .ContenedorGeneral footer .Contacto .Correo {
        font-size: 37px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
        font-size: 37px;
        margin: 6px 20px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero p {
        font-size: 37px; }
      body .ContenedorGeneral footer .Iconos .TituloContacto2 {
        font-size: 46px;
        margin-bottom: 33px; }
      body .ContenedorGeneral footer .Negro p {
        font-size: 44px; } }
@media screen and (max-width: 2526px) {
  body .ContenedorGeneral .main .Col1 p {
    font-size: 40px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 753px; } }
@media screen and (max-width: 2315px) {
  body .ContenedorGeneral .main .Col1 p {
    font-size: 40px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 694px; } }
@media screen and (max-width: 2135px) {
  body .ContenedorGeneral .main .Col1 p {
    font-size: 40px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 643px; } }
@media screen and (max-width: 1985px) {
  body .ContenedorGeneral .main .Col1 p {
    font-size: 36px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 598px; } }
@media screen and (max-width: 1835px) {
  body .ContenedorGeneral .main .Col1 p {
    font-size: 34px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 560px; } }
@media screen and (max-width: 1720px) {
  body {
    padding-top: 74px; }
    body .ContenedorGeneral header .MenuNav {
      padding: 0em 2.5em;
      font-size: 39px; }
      body .ContenedorGeneral header .MenuNav .navbar-brand {
        font-size: 40px; }
      body .ContenedorGeneral header .MenuNav .Elementos a {
        font-size: 28px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 31px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 525px; }
    body .ContenedorGeneral footer .Negro p {
      font-size: 35px; } }
@media screen and (max-width: 1679px) {
  body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
    font-size: 37px;
    margin: 7px 14px 19px 0px; } }
@media screen and (max-width: 1626px) {
  body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
    font-size: 37px;
    margin: 6px 13px 42px 0px; } }
@media screen and (max-width: 1603px) {
  body {
    padding-top: 74px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 27px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 492px; }
    body .ContenedorGeneral .main .Tema {
      font-size: 25px; }
    body .ContenedorGeneral footer .Contacto .TituloContacto {
      font-size: 40px; }
    body .ContenedorGeneral footer .Contacto .Correo {
      font-size: 31px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero a {
      font-size: 33px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero p {
      font-size: 34px; }
    body .ContenedorGeneral footer .Iconos a {
      font-size: 31px;
      width: 66px; }
    body .ContenedorGeneral footer .Iconos .TituloContacto2 {
      font-size: 40px;
      margin-bottom: 8px; } }
@media screen and (max-width: 1552px) {
  body .ContenedorGeneral footer .Contacto .CentradoNumero p {
    font-size: 33px; } }
@media screen and (max-width: 1510px) {
  body {
    padding-top: 74px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 26px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 463px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero p {
      font-size: 30px; } }
@media screen and (max-width: 1440px) {
  body {
    padding-top: 40px; }
    body .ContenedorGeneral {
      width: 97%; }
      body .ContenedorGeneral header .MenuNav {
        padding: 0em 2.5em;
        font-size: 1.3em; }
        body .ContenedorGeneral header .MenuNav .navbar-brand {
          font-size: 1.25rem; }
        body .ContenedorGeneral header .MenuNav .Elementos a {
          font-size: 1rem; }
      body .ContenedorGeneral .main .BloqueCentrado .Uno p {
        font-size: 2.1em;
        margin: 23px 0px -14px 0px; }
      body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
        height: 350px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
        width: 300px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
          font-size: 1.8em; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
          padding: 10px 20px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
            font-size: 27px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
            font-size: 22px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
            font-size: 16px;
            margin-bottom: 16px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
            font-size: 16px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .PaypalPagar {
            width: auto; }
      body .ContenedorGeneral .main .container {
        width: 1140px; }
        body .ContenedorGeneral .main .container .Temario p {
          font-size: 30px; }
      body .ContenedorGeneral .main .Tema {
        font-size: 16px; }
      body .ContenedorGeneral .main .Col1 p {
        font-size: 20px; }
      body .ContenedorGeneral .main .Col1 .video {
        width: 430px; }
      body .ContenedorGeneral .main .Top {
        margin-top: 22px; }
      body .ContenedorGeneral .main .Top2 {
        margin-top: 22px; }
      body .ContenedorGeneral footer .Contacto .TituloContacto {
        font-size: 24px; }
      body .ContenedorGeneral footer .Contacto .Correo {
        font-size: 22px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
        font-size: 22px;
        margin: 0px 19px 0px 0px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero p {
        font-size: 16px; }
      body .ContenedorGeneral footer .Iconos a {
        font-size: 22px;
        width: 50px; }
      body .ContenedorGeneral footer .Iconos .TituloContacto2 {
        font-size: 28px;
        margin-bottom: 8px; }
      body .ContenedorGeneral footer .Negro p {
        font-size: 16px; } }
@media screen and (max-width: 1314px) {
  body {
    padding-top: 48px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 20px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 390px; } }
@media screen and (max-width: 1188px) {
  body {
    padding-top: 48px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 20px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 360px; }
    body .ContenedorGeneral .main .container {
      width: 1070px; } }
@media screen and (max-width: 1096px) {
  body {
    padding-top: 48px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 20px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 335px; }
    body .ContenedorGeneral .main .container {
      width: 970px; } }
@media screen and (max-width: 1024px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 30px;
    margin: 14px 0px -12px 0px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 350px; }
  body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
    width: 260px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
      font-size: 24px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
      font-size: 22px;
      margin-bottom: 10px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
      font-size: 21px;
      margin-bottom: 10px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
      font-size: 15px;
      margin-bottom: 12px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
      font-size: 15px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
      font-size: 15px; }
  body .ContenedorGeneral .main .container {
    width: 850px; }
    body .ContenedorGeneral .main .container .Temario p {
      font-size: 30px; }
  body .ContenedorGeneral .main .Tema {
    font-size: 16px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 20px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 332px; }
  body .ContenedorGeneral .main .Top {
    margin-top: 32px; }
  body .ContenedorGeneral .main .Top2 {
    margin-top: 22px; } }
@media screen and (max-width: 1008px) {
  body .ContenedorGeneral .main .Col1 p {
    font-size: 18px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 310px; } }
@media screen and (max-width: 941px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 289px; }
  body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
    width: 212px;
    margin: 39px 0px 54px 0px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
      font-size: 18px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
      padding: 10px 15px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
        font-size: 15px;
        margin-bottom: 5px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
        font-size: 14px;
        margin-bottom: 5px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
        font-size: 12px;
        margin-bottom: 4px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
        font-size: 12px;
        margin-bottom: 8px;
        text-align: justify; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
        font-size: 12px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 16px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 296px; } }
@media screen and (max-width: 899px) {
  body .ContenedorGeneral .main .Col1 .video {
    width: 276px; }
  body .ContenedorGeneral footer .Iconos a {
    font-size: 19px;
    width: 48px; }
  body .ContenedorGeneral footer .Iconos .TituloContacto2 {
    font-size: 24px; } }
@media screen and (max-width: 880px) {
  body .ContenedorGeneral .main .container {
    width: 770px; } }
@media screen and (max-width: 834px) {
  body {
    padding-top: 40px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
      height: 269px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 260px; } }
@media screen and (max-width: 800px) {
  body .ContenedorGeneral footer .Contacto .CentradoNumero {
    padding: 0px 107px 0px 30px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
      font-size: 20px;
      margin: -4px 22px 0px 45px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero p {
      font-size: 16px; }
  body .ContenedorGeneral footer .Contacto .IconoWhats {
    padding: 18px 0px; }
  body .ContenedorGeneral .main .container {
    width: 701px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 14px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 250px; } }
@media screen and (max-width: 767px) {
  body .ContenedorGeneral header .MenuNav {
    font-size: 1.1em; }
    body .ContenedorGeneral header .MenuNav .navbar-brand {
      font-size: 1.25rem; }
    body .ContenedorGeneral header .MenuNav .Elementos a {
      font-size: 14px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 28px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 250px; }
  body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
    width: 212px;
    margin: 39px 0px 15px 0px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
      font-size: 18px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
      padding: 10px 15px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
        font-size: 15px;
        margin-bottom: 5px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
        font-size: 14px;
        margin-bottom: 5px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
        font-size: 12px;
        margin-bottom: 4px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
        font-size: 12px;
        margin-bottom: 8px;
        text-align: justify; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
        font-size: 12px; }
  body .ContenedorGeneral .main .container {
    width: 632px; }
    body .ContenedorGeneral .main .container .Temario p {
      font-size: 22px;
      margin-bottom: 12px; }
  body .ContenedorGeneral .main .Tema {
    font-size: 15px;
    padding: 9px; }
  body .ContenedorGeneral .main .Col1 {
    margin-bottom: 12px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 20px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 490px; }
  body .ContenedorGeneral .main .Top {
    margin-top: 22px; }
  body .ContenedorGeneral .main .Top2 {
    margin-top: 0px; }
  body .ContenedorGeneral footer .Contacto .TituloContacto {
    font-size: 24px; }
  body .ContenedorGeneral footer .Contacto .Correo {
    font-size: 21px; }
  body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
    font-size: 22px;
    margin: -1px 22px 0px 45px;
    width: 27px; }
  body .ContenedorGeneral footer .Contacto .CentradoNumero p {
    font-size: 21px; }
  body .ContenedorGeneral footer .Contacto .IconoWhats {
    padding: 5px 0px; }
  body .ContenedorGeneral footer .Iconos a {
    font-size: 22px;
    width: 50px; }
  body .ContenedorGeneral footer .Iconos .TituloContacto2 {
    font-size: 24px;
    margin-bottom: 8px; }
  body .ContenedorGeneral footer .Negro p {
    font-size: 16px; } }
@media screen and (max-width: 714px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 25px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 213px; }
  body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
    width: 172px;
    margin: 5px -1px -2px -6px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
      font-size: 15px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
      padding: 7px 14px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
        font-size: 14px;
        margin-bottom: 5px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
        font-size: 13px;
        margin-bottom: 5px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
        font-size: 11px;
        margin-bottom: 4px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
        font-size: 11px;
        margin-bottom: 8px;
        text-align: justify; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 {
        height: 51px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
          font-size: 11px;
          margin-bottom: -25px; } }
@media screen and (max-width: 653px) {
  body .ContenedorGeneral .main .container {
    width: 570px; }
  body .ContenedorGeneral footer .Contacto .TituloContacto {
    font-size: 23px; }
  body .ContenedorGeneral footer .Contacto .Correo {
    font-size: 19px; }
  body .ContenedorGeneral footer .Contacto .CentradoNumero a {
    font-size: 20px; }
  body .ContenedorGeneral footer .Contacto .CentradoNumero p {
    font-size: 20px; }
  body .ContenedorGeneral footer .Contacto .IconoWhats {
    padding: 5px 0px; }
  body .ContenedorGeneral footer .Iconos {
    padding: 15px 0px; }
    body .ContenedorGeneral footer .Iconos a {
      font-size: 20px;
      width: 50px; }
    body .ContenedorGeneral footer .Iconos .TituloContacto2 {
      font-size: 23px;
      margin-bottom: 8px; }
  body .ContenedorGeneral footer .Negro p {
    font-size: 16px; } }
@media screen and (max-width: 615px) {
  body .ContenedorGeneral footer .Contacto .CentradoNumero {
    padding: 0;
    display: block; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero .IconoWhats {
      padding: 0px 0px 0px 0px;
      margin: auto; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero p {
      font-size: 18px;
      padding: 0px 0px 0px 0px; } }
@media screen and (max-width: 611px) {
  body .ContenedorGeneral footer .Contacto .CentradoNumero {
    display: block;
    padding: 0px 0px 0px 0px; } }
@media screen and (max-width: 583px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 25px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    padding: 0px 0px 0px 24px;
    height: 213px; }
  body .ContenedorGeneral .main .container {
    width: 550px; } }
@media screen and (max-width: 575px) {
  body {
    padding-top: 35px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno p {
      font-size: 25px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
      padding: 0px 0px 0px 0px;
      height: 284px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos {
      padding: 27px 0px 0px 0px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
        width: 242px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
          font-size: 22px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
          padding: 10px 20px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
            font-size: 19px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
            font-size: 18px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
            font-size: 14px;
            margin-bottom: 16px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
            font-size: 14px; }
          body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
            font-size: 14px; }
    body .ContenedorGeneral .main .container {
      width: 550px; }
    body .ContenedorGeneral footer .Contacto {
      padding: 18px 0px; }
    body .ContenedorGeneral footer .Iconos {
      padding: 10px 0px; } }
@media screen and (max-width: 561px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 266px; }
  body .ContenedorGeneral .main .container {
    width: 515px; }
  body .ContenedorGeneral footer {
    margin: 0em -1.2em; } }
@media screen and (max-width: 519px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 250px; }
  body .ContenedorGeneral .main .container {
    width: 480px; } }
@media screen and (max-width: 493px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 235px; }
  body .ContenedorGeneral .main .container {
    width: 450px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 410px; } }
@media screen and (max-width: 463px) {
  body .ContenedorGeneral .main .container {
    width: 420px; } }
@media screen and (max-width: 425px) {
  body {
    padding-top: 32px; }
    body .ContenedorGeneral header .MenuNav {
      font-size: 15px; }
      body .ContenedorGeneral header .MenuNav .navbar-brand {
        font-size: 16px; }
      body .ContenedorGeneral header .MenuNav .Elementos a {
        font-size: 12px;
        padding: 7px 0px 1px 7px; }
      body .ContenedorGeneral header .MenuNav .navbar-toggler {
        font-size: 16px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno p {
      font-size: 23px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
      height: 227px; }
    body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio {
      width: 208px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CentradoBotonPrecio .BotonPrecio {
        font-size: 19px; }
      body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard {
        padding: 10px 15px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 h3 {
          font-size: 17px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor1 p {
          font-size: 17px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Autor {
          font-size: 12px;
          margin-bottom: 7px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .TextoCurso {
          font-size: 12px; }
        body .ContenedorGeneral .main .BloqueCentrado .Dos .CardPrecio .CuerpoCard .Contenedor2 .BotonCardIrAlCurso {
          font-size: 12px; }
    body .ContenedorGeneral .main .container {
      max-width: 417px; }
      body .ContenedorGeneral .main .container .Temario p {
        font-size: 18px; }
    body .ContenedorGeneral .main .Tema {
      font-size: 13px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 18px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 400px; }
    body .ContenedorGeneral .main .Top {
      margin-top: 40px; }
    body .ContenedorGeneral .main .Top2 {
      margin-top: -3px; }
    body .ContenedorGeneral footer .Contacto {
      padding: 20px 0; }
      body .ContenedorGeneral footer .Contacto .TituloContacto {
        font-size: 24px;
        margin-bottom: 14px; }
      body .ContenedorGeneral footer .Contacto .Correo {
        font-size: 18px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero {
        display: block;
        padding: 0px 0px 0px 0px; }
        body .ContenedorGeneral footer .Contacto .CentradoNumero a {
          font-size: 19px; }
        body .ContenedorGeneral footer .Contacto .CentradoNumero p {
          font-size: 19px; }
      body .ContenedorGeneral footer .Contacto .IconoWhats {
        padding: 17px 0px; }
    body .ContenedorGeneral footer .Iconos {
      padding: 10px 0; }
      body .ContenedorGeneral footer .Iconos a {
        font-size: 17px;
        width: 44px; }
      body .ContenedorGeneral footer .Iconos .TituloContacto2 {
        font-size: 24px;
        margin-bottom: 17px; }
    body .ContenedorGeneral footer .Negro p {
      font-size: 15px; } }
@media screen and (max-width: 417px) {
  body {
    padding-top: 28px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno p {
      font-size: 21px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
      height: 204px; }
    body .ContenedorGeneral .main .container {
      max-width: 387px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 18px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 360px; } }
@media screen and (max-width: 403px) {
  body .ContenedorGeneral footer .Contacto {
    padding: 14px 0px; }
    body .ContenedorGeneral footer .Contacto .TituloContacto {
      font-size: 24px;
      margin-bottom: 14px; }
    body .ContenedorGeneral footer .Contacto .Correo {
      font-size: 18px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero {
      display: block;
      padding: 0px 0px 0px 0px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero a {
        font-size: 19px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero p {
        font-size: 22px; }
    body .ContenedorGeneral footer .Contacto .IconoWhats {
      padding: 17px 0px; }
  body .ContenedorGeneral footer .Iconos {
    padding: 10px 0; }
    body .ContenedorGeneral footer .Iconos a {
      font-size: 17px;
      width: 44px; }
    body .ContenedorGeneral footer .Iconos .TituloContacto2 {
      font-size: 24px;
      margin-bottom: 17px; }
  body .ContenedorGeneral footer .Negro p {
    font-size: 15px; } }
@media screen and (max-width: 393px) {
  body .ContenedorGeneral .main .container {
    max-width: 367px; } }
@media screen and (max-width: 375px) {
  body {
    padding-top: 22px; }
    body .ContenedorGeneral header .MenuNav {
      font-size: 13px; }
      body .ContenedorGeneral header .MenuNav .navbar-brand {
        font-size: 15px; }
      body .ContenedorGeneral header .MenuNav .Elementos a {
        font-size: 12px;
        padding: 7px 0px 1px 7px; }
      body .ContenedorGeneral header .MenuNav .navbar-toggler {
        font-size: 15px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno p {
      font-size: 22px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
      height: 200px; }
    body .ContenedorGeneral .main .container {
      max-width: 380px;
      padding: 0px 17px 0px 0px; }
      body .ContenedorGeneral .main .container .Temario p {
        font-size: 17px;
        margin-bottom: 4px; }
    body .ContenedorGeneral .main .Tema {
      font-size: 11px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 18px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 350px; }
    body .ContenedorGeneral .main .Top {
      margin-top: 21px; }
    body .ContenedorGeneral .main .Top2 {
      margin-top: -3px; }
    body .ContenedorGeneral footer .Contacto {
      padding: 20px 0; }
      body .ContenedorGeneral footer .Contacto .TituloContacto {
        font-size: 22px;
        margin-bottom: 14px; }
      body .ContenedorGeneral footer .Contacto .Correo {
        font-size: 15px; }
      body .ContenedorGeneral footer .Contacto .CentradoNumero {
        display: block;
        padding: 0px 0px 0px 0px; }
        body .ContenedorGeneral footer .Contacto .CentradoNumero a {
          font-size: 17px; }
        body .ContenedorGeneral footer .Contacto .CentradoNumero p {
          font-size: 20px; }
      body .ContenedorGeneral footer .Contacto .IconoWhats {
        padding: 17px 0px; }
    body .ContenedorGeneral footer .Iconos {
      padding: 10px 0; }
      body .ContenedorGeneral footer .Iconos a {
        font-size: 17px;
        width: 44px; }
      body .ContenedorGeneral footer .Iconos .TituloContacto2 {
        font-size: 22px;
        margin-bottom: 17px; }
    body .ContenedorGeneral footer .Negro p {
      font-size: 15px; } }
@media screen and (max-width: 374px) {
  body {
    padding-top: 22px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno p {
      font-size: 20px; }
    body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
      height: 180px; }
    body .ContenedorGeneral .main .container {
      max-width: 335px;
      padding: 0px 0px 0px 0px; }
    body .ContenedorGeneral .main .Col1 p {
      font-size: 17px; }
    body .ContenedorGeneral .main .Col1 .video {
      width: 310px; }
    body .ContenedorGeneral header .MenuNav .dropdown-item {
      white-space: normal; } }
@media screen and (max-width: 343px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 178px; }
  body .ContenedorGeneral .main .container {
    max-width: 300px; } }
@media screen and (max-width: 320px) {
  body {
    padding-top: 22px; }
    body .ContenedorGeneral header .MenuNav {
      font-size: 13px; }
      body .ContenedorGeneral header .MenuNav .navbar-brand {
        font-size: 15px; }
      body .ContenedorGeneral header .MenuNav .Elementos {
        padding: 10px 20px; }
        body .ContenedorGeneral header .MenuNav .Elementos a {
          font-size: 12px;
          padding: 10px 0px 1px 7px; }
      body .ContenedorGeneral header .MenuNav .navbar-toggler {
        font-size: 15px; }
    body .ContenedorGeneral .main {
      margin: 0px 0px -39px 0px; }
      body .ContenedorGeneral .main .BloqueCentrado .Uno p {
        font-size: 22px; }
      body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
        height: 173px; }
      body .ContenedorGeneral .main .container {
        max-width: 326px;
        padding: 0px 17px 0px 0px; }
        body .ContenedorGeneral .main .container .Temario p {
          font-size: 16px;
          margin-bottom: 4px; }
      body .ContenedorGeneral .main .Tema {
        font-size: 11px; }
      body .ContenedorGeneral .main .Col1 p {
        font-size: 17px; }
      body .ContenedorGeneral .main .Col1 .video {
        width: 310px; }
      body .ContenedorGeneral .main .Top {
        margin-top: 21px; }
      body .ContenedorGeneral .main .Top2 {
        margin-top: -3px; }
    body .ContenedorGeneral footer {
      margin: 3em -1.2em; }
      body .ContenedorGeneral footer .Contacto {
        padding: 20px 0; }
        body .ContenedorGeneral footer .Contacto .TituloContacto {
          font-size: 20px;
          margin-bottom: 14px; }
        body .ContenedorGeneral footer .Contacto .Correo {
          font-size: 15px; }
        body .ContenedorGeneral footer .Contacto .CentradoNumero {
          display: block;
          padding: 0px 0px 0px 0px; }
          body .ContenedorGeneral footer .Contacto .CentradoNumero a {
            font-size: 17px; }
          body .ContenedorGeneral footer .Contacto .CentradoNumero p {
            font-size: 18px; }
        body .ContenedorGeneral footer .Contacto .IconoWhats {
          padding: 17px 0px; }
      body .ContenedorGeneral footer .Iconos {
        padding: 10px 0; }
        body .ContenedorGeneral footer .Iconos a {
          font-size: 17px;
          width: 44px; }
        body .ContenedorGeneral footer .Iconos .TituloContacto2 {
          font-size: 20px;
          margin-bottom: 17px; }
      body .ContenedorGeneral footer .Negro p {
        font-size: 15px; } }
@media screen and (max-width: 317px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 19px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 155px; }
  body .ContenedorGeneral .main .container {
    max-width: 278px;
    padding: 0px 0px 0px 0px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 15px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 275px; } }
@media screen and (max-width: 284px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 17px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 142px; }
  body .ContenedorGeneral .main .container {
    max-width: 255px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 15px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 250px; }
  body .ContenedorGeneral footer .Contacto {
    padding: 20px 0; }
    body .ContenedorGeneral footer .Contacto .Correo {
      font-size: 14px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero a {
      font-size: 17px; }
    body .ContenedorGeneral footer .Contacto .CentradoNumero p {
      font-size: 16px; } }
@media screen and (max-width: 264px) {
  body .ContenedorGeneral header .MenuNav .Elementos a {
    font-size: 11px;
    padding: 2px 0px 1px 7px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 16px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 133px; }
  body .ContenedorGeneral .main .container {
    max-width: 240px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 15px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 235px; } }
@media screen and (max-width: 248px) {
  body .ContenedorGeneral .main .BloqueCentrado .Uno p {
    font-size: 15px; }
  body .ContenedorGeneral .main .BloqueCentrado .Uno .UnoHijo .video {
    height: 120px; }
  body .ContenedorGeneral .main .container {
    max-width: 227px; }
  body .ContenedorGeneral .main .Col1 p {
    font-size: 14px; }
  body .ContenedorGeneral .main .Col1 .video {
    width: 224px; } }

/*# sourceMappingURL=estiloscurso.css.map */
